/* custom.css */
body {
  background-color: #e3f2fd; /* Pale blue background */
}

#layout-content {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
}

.infoblock, .blockcontent, ul li {
  background-color: #fff9c4;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
  border-left: 5px solid #fdd835;
}

h1, h2 {
  color: #4a148c;
}

a {
  color: #1565c0;
}
